:root {
  --light: #fffcf2;
  --gold: #dfc481;
  --silver: #bfc1c2;
  --red: #57292c;
  --blue: rgb(1, 0, 78);
}

.book-bg {
  background-color: var(--red);
}

.light-bg {
  background-color: var(--light);
}

.gold {
  color: var(--gold);
}