:root {
  --neutral: #f9f9f9;
  --cta: #c2c2c2;
  --cta-modified: #888888;
  --accent: #00357c;
  --dark: #000c2f;
}

.book-bg {
  background-color: var(--accent);
}

.light-bg {
  background-color: var(--light);
}

.cta-color {
  color: var(--cta);
}