nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    border-radius: var(--sm-space);
    font-size: var(--emphasis-text);
}

.home-nav path {
    fill: var(--cta-modified);
    stroke: var(--dark);
    stroke-width: 1px;
}

.home-nav:hover path, .home-nav:focus path {
    fill: var(--cta);
}

.nav-item:hover, .nav-item:focus {
    color: var(--cta);
    background-color: var(--dark);
}

.nav-item:visited {
    color: var(--cta-modified);
}

.nav-active {
    background-color: var(--dark);
    color: var(--cta);
}

header::after, header::before, footer::before {
    content: "";
    border-top: var(--sm-border) solid var(--cta);
    border-bottom: var(--sm-border) solid var(--cta);
    background-color: var(--accent);
    height: 1rem;
    width: 100%;
    display: block;
}

.logo {
    height: 100%;
    max-width: 100%;
}