nav {
    margin-left: auto;
    margin-right: auto;
}

.home-icon path {
    fill: var(--cta);
    stroke: var(--dark);
    stroke-width: 1px;
}

.home-icon {
    border-bottom: 1rem solid transparent;
}

.home-icon:hover path {
    fill: var(--home);
    stroke-width: 2px;
}

.nav-item {
    border-radius: var(--sm-space);
    font-size: var(--emphasis-text);
    color: var(--cta-modified);
}

.nav-item:hover, .nav-item:focus {
    color: var(--cta);
    background-color: var(--dark);
}

.nav-item:visited {
    color: var(--cta);
}

.nav-active {
    background-color: var(--dark);
    color: var(--cta);
}

header::after, footer::after, footer::before {
    content: "";
    border-top: var(--sm-border) solid var(--cta);
    border-bottom: var(--sm-border) solid var(--cta);
    background-color: var(--accent);
    height: 1rem;
    width: 100%;
    display: block;
}

.logo {
    height: 100%;
    max-width: 100%;
}

main a {
    color: var(--accent);
}

h1 {
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
}

img {
    margin-left: auto;
    margin-right: auto;
}