.p-sm {
  padding: var(--sm-space);
}

.pv-sm {
  padding-top: var(--sm-space);
  padding-bottom: var(--sm-space);
}

.ph-sm {
  padding-right: var(--sm-space);
  padding-left: var(--sm-space);
}

.pv-md {
  padding-top: var(--md-space);
  padding-bottom: var(--md-space);
}

.pt-md {
  padding-top: var(--md-space);
}

.ph-md {
  padding-left: var(--md-space);
  padding-right: var(--md-space);
}

.p-md {
  padding: var(--md-space);
}
