.p-sm {
  padding: var(--sm-space);
}

.pv-sm {
  padding-top: var(--sm-space);
  padding-bottom: var(--sm-space);
}

.ph-sm {
  padding-right: var(--sm-space);
  padding-left: var(--sm-space);
}

.pv-md {
  padding-top: var(--md-space);
  padding-bottom: var(--md-space);
}

.ph-md {
  padding-left: var(--md-space);
  padding-right: var(--md-space);
}

.py-sm {
  padding: 1rem 0;
  @media screen and (--sm) {
    padding: 2rem 0;
  }
}
