:root {
  --neutral: #ffffff;
  --cta: #b7b7b7;
  --cta-modified: #8c9c92;
  --subtle-accent: #be8a4a;
  --home: #32575d;
  --accent: #884344;
  --dark: #4f7ca4;
  --announcements: #e2d4c4;
}

.accent-bg {
  background-color: var(--accent);
}

.light-bg {
  background-color: var(--neutral);
}

.cta-color {
  color: var(--cta);
}

.footer-link {
  fill: var(--home);
}