nav {
    margin-left: auto;
    margin-right: auto;
}

.home-icon path {
    fill: var(--home);
    stroke: var(--subtle-accent);
    stroke-width: 1px;
}

.home-icon {
    border-bottom: 1rem solid transparent;
}

.nav-item {
    border-radius: var(--sm-space);
    font-size: var(--emphasis-text);
}

.nav-item:hover, .nav-item:focus {
    background-color: var(--dark);
}

.nav-active {
    background-color: var(--dark);
}

header::after, footer::after, footer::before, .announcements::before {
    content: "";
    border-top: var(--sm-border) solid var(--cta-modified);
    background-color: var(--accent);
    width: 100%;
    display: block;
}

.logo {
    height: 100%;
    max-width: 100%;
}

main a {
    color: var(--accent);
}

h1 {
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.announcements-color {
    color: var(--announcements);
}

.footer-icon {
    fill: none;
    stroke: var(--home);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 4rem;
}