<footer class="accent-bg">
    <div class="pv-md text-center announcements-color">
        <div class="pv-sm">Questions? Email us at:</div>
        <div class="pv-sm ph-sm">
            <a class="nav-item announcements-color" href="mailto:{{ .Site.Params.contactEmail }}">
                {{ .Site.Params.contactEmail }}
            </a>
        </div>
    </div>
    <div class="max-width-s m-auto pv-md ph-sm">
        <div class="flex w100 justify-around p-md m-auto">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="footer-icon">
                    <title>Link to Home Page</title>
                    <path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9"/><path d="M9 22V12h6v10M2 10.6L12 2l10 8.6"/></svg>
            </a>
            <a href="/singing">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="footer-icon">
                    <title>Link to Events Page</title>
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
            </a>
        </div>
    </div>
</footer>