{{- define "main" }}
    <h1 class="text-center">{{ .Title }}</h1>
    <div>{{ .Content }}</div>
    {{ range .Sections }}
        <h2 class="text-center">{{ .Title }}</h2>
        <div>{{ .Summary }}</div>
        <ul>
        {{ with .Pages }}
                {{ range . }}
                <li>
                    <div>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                </li>
                {{ end }}
        {{ end }}
        {{ with .Resources }}
            {{ range . }}
            <li>
                <div>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
            </li>
            {{ end }}
    {{ end }}
        </ul>
    {{ end }}
{{- end }}