{{- define "main" }}
    <h1 class="text-center">{{ .Title }}</h1>
    <div>{{ .Content }}</div>
    {{ range .Sections }}
        <h2 class="text-center">{{ .Title }}</h2>
        {{ with .Pages }}
            <h3>Pages</h3>
            <ul>
                {{ range . }}
                <li>
                    <div>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        <div class="di">
                            {{ .Summary }}
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        {{ end }}
        {{ with .Resources.Match "*.pdf" }}
        <h3>PDFs</h3>
        <ul>
            {{ range . }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    {{ end }}
{{- end }}